adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 0

ftdi layout_init 0x0008 0x000b
# 初始化信号: nTRST=1, nSRST=1, TMS=1, TCK=0

ftdi layout_signal nTRST -data 0x0010 -noe 0x0020
ftdi layout_signal nSRST -data 0x0040 -noe 0x0080

adapter speed 10000
adapter srst delay 100
adapter srst pulse_width 100